.about {
  margin-top: 14%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.aboutDisplay {
  display: column;
  flex-direction: row;
  gap: 1rem;
  width: 90vw;
  margin-top: 2%;
}

.profilePicContainer {
  /* border: 1px solid red; */
  height: 29vh;
  width: 25vw;
  margin: auto;
}

.profilePic {
  width: 100%;
  height: 100%;
}

.aboutDescritptionContainer {
  width: 45vw;
  height: 30vh;
  /* border: 1px solid red; */
  /* margin: 0 6.5rem 0 6.5rem; */
  text-align: center;
  margin: auto;
}

.statement {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: 'Frank Ruhl Libre';
}

.quote {
  font-family: 'Pinyon Script';
  font-size: 2rem;
}

@media screen and (max-width: 1536px) {
  .about {
    margin-top: 19%;
  }
  .profilePicContainer {
    /* border: 1px solid red; */
    height: 29vh;
    width: 35vw;
    margin: auto;
  }
  
  .profilePic {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    margin-top: 15%;
  }

  .aboutDisplay {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 90vw;
    height: 45vh;
  }

  .profilePicContainer {
    height: 25vh;
    width: 32vw;
  }

  .aboutDescritptionContainer {
    width: 75vw;
    margin-bottom: 4rem;
  }

}


@media screen and (max-width: 900px) {
  .about {
    margin-top: 20%;
  }

  .profilePicContainer {
    height: 25vh;
    width: 55vw;
  }

  .aboutDescritptionContainer {
    height: 15vh;
  }

  .statement {
    /* height: 22rem; */
    margin-left: 0rem;
    margin-right: 0rem;
  }
}


@media screen and (max-width: 768px) {
  .about {
    margin-top: 30%;
  }
}