.about {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.introStatementContainer {
  border: 1px solid red;
  margin: 0 2.5rem 0 2.5rem;
}

#statement1 {
  border: 1px solid green;
  margin-left: 2rem;
  margin-right: 2rem;
}

#statement2 {
  border: 1px solid black;
  margin-left: 2rem;
  margin-right: 2rem;
}


@media screen and (max-width: 1435px) {
  .aboutMeText {
    margin: 0rem 4rem 0rem 0rem;
  }
}

@media screen and (max-width: 1250px) {
  .textContainer {
    gap: 3rem;
  }

  .aboutMeText {
    margin: 0rem 4rem 0rem 0rem;
  }
}

@media screen and (max-width: 1080px) {
  .aboutMeText {
    margin: 0rem 4rem 0rem 0rem;
  }
}

@media screen and (max-width: 980px) {

  .header {
    margin-top: 10rem;
  }

  .aboutIntro {
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-top: 1rem;
    margin-bottom: 8rem;
  }

  .textContainer {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;
}

.aboutMeText {
  margin: 0rem 0rem 0rem 0rem;

}

.pictureContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.aboutImg {
  height: 300px;
}


}

@media screen and (max-width: 980px) {

  .header {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 390px) {
}
