.carousel {
    border: 1px solid red;
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
}


.slideImage {
    height: 10rem;
}

.hey {
    /* display: flex; */
    /* flex-direction: row; */
    padding: 2rem;
}
.display {
    /* display: flex;
    flex-direction: row; */
}