.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1400px) {
  .pageHeader {
    margin-top: 8rem;
  }

  .formBox {
    min-width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .contactInfo {
    width: 60%;
  }
}


@media screen and (max-width: 1100px) {
.pageHeader {
  margin-top: 8rem;
}

.contactInfo {
  width: 70%;
}
}


@media screen and (max-width: 900px) {
  .pageHeader {
    margin-top: 7rem;
  }

  .contactInfo {
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .formBox {
    width: 75%;
    margin-top: 1.5rem;
  }

  .inputRow {
    flex-direction: column;
    gap: 2rem;
  }

  .nameBox {
    width: 100%;
  }

  .emailBox {
    width: 100%;
  }

  .submitBtn {
    min-width: 35%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .pageHeader {
    margin-top: 9rem;
  }

  .contactInfo {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    gap: .5rem;
  }

  .contactInfoBox {
    width: 75%;
  }
}
