.galleryPage {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryLayoutContainer {
  height: 60vh;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.gallerySectionContainer {
  padding: 1rem;
  border: 1px solid green;
  width: 25%;
  max-height: 65%;
}

.galleryLinkContainer {
  border: 1px solid red;
  height: 40%;
  width: 27%;
}

.galleryLinkPhoto {
  height: 100px;
  width: 100px;
}






@media screen and (max-width: 1000px) {
  .project-section-area {
    grid-template-columns: 75vw;
    gap: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .workHeader {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .workHeader {
    padding-top: 4rem;
  }

  .headerInfo {
    margin-right: 8rem;
    margin-left: 8rem;
  }

  .project-picture {
    min-height: 20rem;
  }

  .project-picture .mask {
    min-height: 20rem;
  }
}

@media screen and (max-width: 550px) {
  .workHeader {
    padding-top: 5rem;
  }

  .headerInfo {
    margin-right: 4rem;
    margin-left: 4rem;
  }

  .project-picture {
    min-height: 18rem;
  }

  .project-picture .mask {
    min-height: 18rem;
  }
}
