.home {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .homeHeader {


} */

.homeDisplay {
  /* border: 1px solid red; */
  width: 60vw;
  height: 60vh;
}

.homeDisplay1 {
  float: left;
  background-color: purple;
  width: 50%;
  height: 50%;
}

.homeDisplay2 {
  position: relative;
  float: right;
  top: 50%;
  background-color: pink;
  width: 50%;
  height: 50%;
}


.homeDisplayPhoto {
  z-index: 1;
  position: absolute;
  margin-left: 9%;
  margin-top: 5%;
  width: 42vw;
  height: 42vh;
  background-color: white;
}







.introPhoto {
  width: 100%;
  height: 100%;
  /* background-color: rgb(40, 40, 51); */
  /* color: white; */
  /* min-height: 22rem;
  max-height: 22px; */
  /* width: 100%; */
  /* border-radius: 1rem; */
  /* overflow: hidden; */
  /* justify-content: center; */
  /* display: flex; */
  /* flex-direction: row; */
  /* position: relative; */
  /* text-align: center; */
  cursor: default;
  /* opacity: 0.7; */
}

@media screen and (max-width: 856px) {}