.nav-container {
  position: fixed;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  /* background-color: grey !important; */
  height: 14rem !important;
  width: 20rem !important;
  text-align: center !important;
}

.css-dacy4n-MuiButtonBase-root-MuiMenuItem-root {
  justify-content: center !important;
  margin: 1rem 2rem 1rem 1rem !important;
}

.toolbarCon {
  /* border: 1px solid green; */
  height: 100%;
}

.navLogoContainer {
  /* border: 1px solid red; */
  width: 15%;
  height: 65%;
}

.navLogo {
  width: 100%;
  height: 100%;
}

.boxCon {
  /* border: 1px solid black; */
}

.toUnderline:hover {
  border-bottom: .2rem black !important;
}

.mobileNavButton {
  border: 1px solid red;
}


