.pricing {
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeBanner {
    width: 90vw;
    height: 10vh;
    text-align: center;
  
    background-color: black;
  }
  
  .bannerText {
    color: white;
  }

.servicesContainer {
    width: 80vw;
    height: 45vh;
    margin-top: 1rem;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;

}

.servicesInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 1px solid black;
}

.serviceHeaderContainer {
    border: 1px solid red;
}

.serviceHeader {
    font-size: calc(2rem + 2px);

}

.pricingLayout {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.servicesText {
    margin-left: 2rem;
    margin-right: 2rem;
}

.servicePhoto {
    margin-top: 2rem;
    border: 1px solid black;
    width: 50%;

    height: 15vh;
}

.apples {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
}

.partyAndShowersHeaderContainer {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
    align-items: center;
}

.partyAndShowersHeader {
    font-size: 2rem;
}



.partyAndShowersPhoto {
    border: 1px solid black;
    width: 75%;
    height: 75%;
}