.pricing {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesContainer {
    width: 100vw;
    height: 50vh;
    margin: 1rem;
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: ; */
    gap: 5rem;

}

.servicesInfo {
    border: 1px solid black;
}