.pricing {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesContainer {
    width: 80vw;
    height: 50vh;
    margin: 1rem;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: ; */
    gap: 5rem;

}

.servicesInfo {
    margin-right: 1rem;
    margin-left: 1rem;
    /* border: 1px solid black; */
}

.serviceHeader {
    font-size: calc(2rem + 2px);
}