@import-normalize;

.app {
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  min-height: 100vh;
  /* width: 100vw; */
  background-color: #242424;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: calc(10px + 1vmin);
  color: white;

}

.main {
  flex-grow: 1;
}