@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

h1 {
  font-family: 'Rochester', cursive;
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

textarea {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
